.github
.husky
.idea
.vscode
ci
docs
src

.nvmrc
.prettierrc
.prettierignore


*.integration.js
*.integration.d.ts
*.integration.d.ts.map
*.micro.js
*.micro.d.ts
*.micro.d.ts.map
*.test.js
*.test.d.ts
*.test.d.ts.map

*.tgz
*.json
jest.config*
.git*
*.ymal

junit.xml
tsconfig.tsbuildinfo
tsconfig.json
tsconfig-base.json
dist/src/eventSourcing/experiment-decorators