.nvmrc
ci/
deviceBoundedContext/
junit.xml
tsconfig.tsbuildinfo

docs/

.prettierrc
.prettierignore
.husky/
src/**/*.test.ts
dist/**/*.test.d.ts
dist/**/*.test.d.ts.map
dist/**/*.test.js
*.integration.js
*.integration.d.ts
*.tgz
*.json
jest.config*
.git*
